[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
